<div class="ingresoMasListado">
  <div class="ingresaPastel">
    <form class="form" [formGroup]="formPastel" (ngSubmit)="ingresarNuevoPastel()">
      <h4>Nuevo pastelero y pastel</h4>
      <label for="nombrePastelero">Nombre Pastelero</label><br>
      <input type="text" name="nombrePastelero" id="nombrePastelero" formControlName="nombre"><br><br>
      <label for="UrlFotoPastel">Foto (URL) del Pastel</label><br>
      <input type="text" name="UrlFotoPastel" id="UrlFotoPastel" formControlName="imagen"><br>
      <input type="submit" value= "Crear Pastel" />
    </form>
  </div>
  <div class="muestraTodos">
    <h2>Listado de Pasteles</h2>
    <table border="1" *ngIf="muestraTodos">
      <tr>
        <td>Nombre Pastelero</td><td>Foto del Pastel</td>
      </tr>
      <tr *ngFor="let info of datosBuscaTodo" >
        <td>{{info.nombrePastelero}}</td>
        <button (click)="buscarUno(info._id)"> <img class="imagenPastel" src="{{info.fotoPastelUrl}}" alt="Imagen Pastel"> </button>
        <td>
          <form class="form" [formGroup]="formComentario" (ngSubmit)="ingresarComentario(info._id)">
            <h4>Deja tu comentario</h4>
            <label for="puntuacion">Dale una puntuacion</label><br>
            <input type="text" name="puntuacion" formControlName="puntuacion"><br><br>
            <label for="comentario">comentario</label><br>
            <input type="text" name="comentario" formControlName="comentario"><br>
            <input type="submit" value= "Mandar Comentario"/>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="comentario" border="1" *ngIf="muestraDetalle">
      <tr *ngFor="let info of datosBuscaUno.comentarioPastel">
        <td><h4>puntuacion: {{info.puntuacion}} </h4></td>
        <td><h4>opinion: {{info.comentario}} </h4></td>
      </tr>
      <td><h4>promedio: {{promedio}}</h4></td>
    </table>
  </div>
</div>
